<!DOCTYPE web-app PUBLIC
<!--        dnemeem-->
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlet.MainServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>KaydetServlet</servlet-name>
    <servlet-class>servlet.KaydetServlet</servlet-class>
  </servlet>


  <!--servlet bilesenleri, servlet-mapping tanimlari baslamadan önce yapilmalidir. -->
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/anasayfa</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>KaydetServlet</servlet-name>
    <url-pattern>/kaydet</url-pattern>
  </servlet-mapping>
</web-app>
